META_VERIFY_TOKEN=tu_token_seguro_123
META_ACCESS_TOKEN=tu_token_de_acceso_permanente
META_PHONE_NUMBER_ID=1234567890
ADMIN_PHONE_ID=5535998869018

TELEGRAM_BOT_TOKEN=tu_telegram_bot_token
TELEGRAM_CHAT_ID=tu_telegram_chat_id

SUPABASE_URL=tu_url_de_supabase_url_aqui
SUPABASE_KEY=tu_supabase_key_aqui
CALENDAR_ID=oruspgutierrez@gmail.com
